<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ren Xiang Foo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="namecard">
    <h1>
      Ren Xiang <u>Foo</u>
    </h1>
    <img src="profile.jpg" alt="profile"></img>
    <h2>
      <em>
        JavaScript Frontend Developer
        <br />
        Machine Learning Practitioner
      </em>
    </h2>
	</section>
	<nav>
    <div>
      <a href="https://www.youtube.com/watch?v=7xETmWG2jyI">
        Video Demo of UAV Rolling Launch Control (URLC)
      </a>
    </div>
    <div>
      <a href="http://renxiang.cloud:5001/ax/">OHR400 Kx Developer</a>
    </div>
    <div>
      <a href="http://renxiang.cloud:81/OHR400Dashboard/">OHR400 URLC Dashboard</a>
    </div>
    <div>
      <a href="https://github.com/foorenxiang">
         Ren Xiang's GitHub
      </a>
    </div>
    <div>
      <a href="https://github.com/foorenxiang/OHR400Dashboard/blob/master/Readme.MD">
        URLC Info
      </a>
    </div>
    <div>
      <a href="FYPReport.pdf">FYP Report on URLC</a>
    </div>
    <div>
      <a href="http://linkedin.com/in/renxiangfoo">Connect on LinkedIn!</a>
    </div>
  </nav>
</body>
</html>
